#root {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centralizar o calendário no meio da página */
.calendar-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* A altura mínima da visualização é 100% da tela */
  flex-direction: column;
}

/* Estilo para o título */
h1 {
  color: #fff;
  margin-bottom: 20px;
}

/* Ajustes de formatação adicional para o calendário */
.fc {
  width: 90%; /* Ajuste a largura do calendário conforme necessário */
  max-width: 900px;
}

.fc-toolbar {
  margin-bottom: 1rem;
}

.fc-daygrid-day-number {
  color: #61dafb; /* Cor dos números dos dias no calendário */
}
